@model OnlineShop.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title-singin">ĐĂNG NHẬP</div>
<div class="login-main">
@using (Html.BeginForm("Login", "User", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="login-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "inf-loginmodel" })
            @Html.TextBoxFor(model => model.UserName, new { @class = "input-login-main" })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>

        <div class="login-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "inf-loginmodel" })
            @Html.PasswordFor(model => model.Password, new { @class = "input-login-main" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        <div class="login-group">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <div class="login-group" style="margin-top: 10px;">
            <input type="submit" value="ĐĂNG NHẬP" class="btn-login" />
        </div>
        <br />
        <a href="/quen-mat-khau" style="float: left; margin-right: 20px;" class="link-login">Quên mật khẩu?</a>
        <a href="/dang-ky" style="float: left;" class="link-login">Tạo tài khoản mới</a>
    </div>
}
</div>